# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.mypy_cache/
*.pytest_cache/
venv/
.env
.env.*
.git
.gitignore
.DS_Store
node_modules/
media/
staticfiles/
*.md
tests/
docs/
*.bak
*.swp
*.tmp
*.test.py 